<body>
    <div class="container"> 
        <h1>Tässä tarkempia tietoja kontteista</h1>

        <!-- A picture about containers limited to available space in the container -->
        <img width="100%" src="/images/Konttikuvia3.png" alt="Kontin varjossa">

        <!-- A relative link to tiedot URL -->
        <a style="font-size: xx-large;" href="/">Takaisin kotisivulle</a>

    </div>
</body>